<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" data-ng-app="">

    <head>
        <title>Good Thymes Virtual Grocery</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

        <link href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet"/>
        <link href="../static/css/main.css" th:href="@{/static/css/main.css}" rel="stylesheet"/>

        <script src="https://code.jquery.com/jquery.js"></script>
        <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"></script>
        <script type="text/javascript" src="../static/js/main.js" th:src="@{/static/js/main.js}"></script>
    </head>
    <body>
        <div id="container" ng-controller="OrdersController">

            aaaaaaaaaa
            <p th:text="${home}">Welcome to our grocery store!</p>
            <a href="#" ng-click="showAlert()">click!!</a>
            <br/>

            <input type="text" ng-model="yourName" placeholder="Enter text"/>
            <hr/>
            <h1>Hello {{yourName}}</h1>

            <hr/>

            <span>{{remaining()}} of {{todos.length}} remaining</span>
            [ <a href="" ng-click="archive()">archive</a> ]
            <ul class="unstyled">
                <li ng-repeat="todo in todos">
                    <input type="checkbox" ng-model="todo.done" />
                    <span class="done-{{todo.done}}">{{todo.text}}</span>
                </li>
            </ul>
            <form ng-submit="addTodo()">
                <input class="form-control" type="text" ng-model="todoText" size="30"
                       placeholder="add new todo here" />
                <input class="btn btn-primary" type="submit" value="add" />
            </form>

        </div>

    </body>

</html>